{% extends  'layouts/base.html' %}
{% block content %}


<h1>About page</h1>
<div><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br>Laudantium assumenda vel magnam, corrupti eius tenetur dicta dolore obcaecati ducimus error? Odit alias reprehenderit minus ex aspernatur neque aut? Ab alias necessitatibus tenetur, nesciunt recusandae rerum perspiciatis labore iusto et saepe vel inventore accusantium soluta voluptatum hic nulla. Tempora, libero corrupti reiciendis pariatur est quae eveniet quidem totam fuga excepturi repellat suscipit. Dicta, rem commodi! Ipsum fugiat dolor ea ducimus nemo ab vero error esse neque, cum numquam, repellendus maxime nulla consequatur est adipisci possimus sed. Nobis, ut quasi perferendis sit reprehenderit saepe quis sint eum, veniam ipsum deserunt esse aspernatur!
</p></div>
<p>Website created by: {{ username }}</p>


{% endblock %}